{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["react", "testing-library", "@typescript-eslint"],
    "extends": [
        "airbnb",
        "prettier",
        "prettier/react",
        "plugin:testing-library/react",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [".js", ".jsx", ".ts", ".tsx"]
            }
        ],
        "react/jsx-props-no-spreading": 0,
        "no-plusplus": 0,
        "import/no-named-as-default": 0,
        "@typescript-eslint/no-var-requires": 0,
        "import/prefer-default-export": 0,
        "@typescript-eslint/no-explicit-any": 0,
        "react/prop-types": 0,
        "import/no-absolute-path": 0,
        "no-shadow": 1,
        "import/extensions": [
            "error",
            "ignorePackages",
            {
                "js": "never",
                "jsx": "never",
                "ts": "never",
                "tsx": "never"
            }
        ],
        "jsx-a11y/label-has-associated-control": [
            "error",
            {
                "required": {
                    "some": ["nesting", "id"]
                }
            }
        ],
        "jsx-a11y/label-has-for": [
            "error",
            {
                "required": {
                    "some": ["nesting", "id"]
                }
            }
        ]
    },
    "env": {
        "jest": true,
        "browser": true,
        "es6": true
    },
    "settings": {
        "import/resolver": {
            "node": {
                "moduleDirectory": ["node_modules", "src/"],
                "extensions": [".js", ".jsx", ".ts", ".tsx"]
            }
        }
    }
}
