@import 'media.scss';

.language-selector {
    @include flexBox(column, center, center);
    position: absolute;
    bottom: 12px;
    right: 12px;
    width: 90px;
    overflow-x: visible;

    .language-selector__label {
        margin-bottom: 6px;
    }

    #language-selector {
        @include flexBox(row, center, center);
    }

    .item {
        @include flexBox(row, center, center);
    }
}
