@import 'media.scss';

.registration-panel {
    .registration-panel__form {
        @include flexBox(column, center, center);
        width: 100%;

        .registration-panel__form-group {
            @include flexBox(column, center, stretch);
            width: 90%;

            .field {
                padding: 10px 6px;
            }
        }

        .registration-panel__submit-button {
            width: 209px;
            margin: 0;
        }
    }
}
